<!DOCTYPE html>
<html>
<head>
    <title>Criar Post</title>
</head>
<body>

<h1>Novo Post</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <input type="text" name="titulo" placeholder="Título"><br><br>
    
    <textarea name="descricao" placeholder="Descrição"></textarea><br><br>

    <select name="categoria">
        <option value="servico">Serviço</option>
        <option value="venda">Venda</option>
        <option value="doacao">Doação</option>
        <option value="aviso">Aviso</option>
        <option value="achados">Achados & Perdidos</option>
    </select><br><br>
    <input type="text" name="telefone" class="form-control" placeholder="Telefone">
    <input type="file" name="imagem" class="form-control">

    <button type="submit">Salvar</button>
</form>

</body>
</html>
