<!DOCTYPE html>
<html>
   <br> 
    {% if user == post.usuario %}
    <a href="/editar/{{ post.id }}/" class="btn btn-warning">Editar</a>
    <a href="/deletar/{{ post.id }}/" class="btn btn-danger">Deletar</a>
{% endif %}
{% if post.imagem %}
    <img src="{{ post.imagem.url }}" class="img-fluid mb-3">
{% endif %}
<head>
    <title>{{ post.titulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <h1>{{ post.titulo }}</h1>
    <h5 class="text-muted">{{ post.categoria }}</h5>

    <hr>

    <p>{{ post.descricao }}</p>

    <a href="/" class="btn btn-secondary">Voltar</a>

</div>

</body>
<br>
<h4 id="comentarios">Comentários</h4>

<form action="/comentar/{{ post.id }}/" method="POST">
    {% csrf_token %}
    <textarea name="texto" class="form-control" required></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Comentar</button>
</form>

<hr>

{% for comentario in comentarios %}
    <p><strong>{{ comentario.usuario.username }}</strong>: {{ comentario.texto }}</p>
{% empty %}
    <p>Seja o primeiro a comentar!</p>
{% endfor %}
<hr><br>
<h5>Quem curtiu:</h5>

<ul>
    {% for curtida in curtidas %}
        <li>{{ curtida.usuario.username }}</li>
    {% empty %}
        <li>Ninguém curtiu ainda</li>
    {% endfor %}
</ul>
</html>